@model ClinicStorage.Models.Doctor
@{
    ViewBag.Title = "AddDoctor";
}

<h2>Добавление доктора</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Имя доктора")
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Position, "Специальность")
    <br />
    @Html.DropDownListFor(model => model.Position.Id, ViewBag.Positions as SelectList)
    <input type="submit" value="Добавить" />
}